* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  top: 0;
  position: sticky;
  z-index: 1;
}

section {
  padding: 64px 103.55px;
  scroll-margin-top: 130px;
  position: relative;
}

section::before {
  content: "";
  font-size: 56px;
  font-weight: 600;
  top: 10px;
  background: linear-gradient(16deg, #289aff, #809dfd, #673cdc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

/* Navbar Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(16deg, #0180ff, #4f9df6, #4f43f5, #7125ff);
  padding: 38px 61.49px;
  border-radius: 0 0 50px 20px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.navbar:hover {
  box-shadow: 4px 5px 16px rgba(0, 0, 0, 0.5);
}

.navbar div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.navbar a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.nav-link {
  display: flex;
  margin: 0;
  list-style: none;
  gap: 16px;
}

.navbar ul a {
  position: relative;
  transition: color 0.5s ease;
}

.navbar ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background: currentColor;
  transition: transform 0.5s ease;
  transform: scaleX(0);
  transform-origin: center;
}

.navbar ul a:hover {
  color: white;
}

.navbar ul a:hover::after {
  transform: scaleX(1);
}

.navbar img {
  width: 56px;
  z-index: 1;
}

.navbar h1 {
  padding: 0 0 0 10px;
  color: white;
  cursor: default;
}

.bg-img-navbar {
  top: -8px;
  left: -12px;
  background: white;
  border-radius: 5px 20px 50px 50px;
  width: 80px;
  height: 90px;
  position: absolute;
}

.pipe-navbar {
  top: 48px;
  left: 85px;
  background: white;
  border-radius: 50px;
  height: 1.5px;
  width: 202px;
  position: absolute;
}

/* Navbar - Hamburger Menu Start */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger .bar {
  display: block;
  transform-origin: center;
  backface-visibility: hidden;
  will-change: transform;
  height: 3px;
  width: 30px;
  background-color: white;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.hamburger .bar:nth-child(1) {
  transition-delay: 0s;
}

.hamburger .bar:nth-child(2) {
  transition-delay: 0.2s;
}

.hamburger .bar:nth-child(3) {
  transition-delay: 0.2s;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(9.5px) rotate(45deg);
  transition-delay: 0.2s;
}

.hamburger.active .bar:nth-child(2) {
  transition-delay: 0;
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-405deg);
  transition-delay: 0.4s;
}
/* Navbar - Hamburger Menu End */
/* Navbar End */

/* Landing Section Start */
section#landing {
  display: flex;
  position: relative;
  gap: 90px;
}

#typewriter-div {
  display: block;
  width: 800px;
  padding: 10px 10px;
  height: auto;
  position: relative;
}

#typewriter {
  display: inline-block;
  font-size: 48px;
  font-weight: 600;
  background: linear-gradient(45deg, #0180ff, #85c2ff, #4f9df6, #a574ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  overflow: hidden;
}

#typewriter-div a {
  top: 180px;
  left: 0;
  position: absolute;
}

.btn-landing {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 18px;
  color: white;
  background: linear-gradient(45deg, #0180ff, #60aaff);
  border: 3px solid #43a1ff;
  border-radius: 50px;
  background-clip: border-box;
  -webkit-text-fill-color: white;
  transition: background 0.5s ease, border 0.5s ease, color 0.5s ease,
    -webkit-text-fill-color 0.5s ease, text 0.3s ease, box-shadow 0.3s ease;
}

.btn-landing:hover {
  background: linear-gradient(45deg, #0180ff, #60aaff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 3px solid #81c0ff;
  box-shadow: 0 5px 10px #4da6ff;
}

.pipe-landing {
  top: 80px;
  right: 360px;
  background: black;
  border-radius: 50px;
  width: 2px;
  height: 220px;
  position: absolute;
}

.img-landing-detail img {
  width: 220px;
}
/* Landing Section End */

/* About Section Start */
section#about {
  margin-top: 84px;
  padding-top: 100px;
}

section#about::before {
  content: "About Us";
}

#about h2 {
  font-size: 18px;
  font-weight: 400;
  color: #676767;
}

.about-h1 h1 {
    background: linear-gradient(45deg, #289aff, #809dfd, #673cdc);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    padding: 64px 0 0 0;
    text-align: center;
}

.about-menu {
  display: flex;
  justify-content: center;
}

.about-menu-detail {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: auto 20px auto;
  column-gap: 10px;
  row-gap: 10px;
  overflow: hidden;
  width: fit-content;
}

.about-item {
  height: 200px;
  position: relative;
}

.about-item:after {
  content: "";
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
  color: white;
  pointer-events: none;
  position: absolute;
  cursor: pointer;
}

.about-item:hover::after {
    opacity: 1;
}

#about-1:hover::after {
    content: 'FLUFYOS Company Profile';
}

#about-2:hover::after {
    content: 'Simetri Semesta Company Profile';
}

#about-3:hover::after {
    content: 'AyoNiat Basketball Court Web Design';
}

.about-item img {
  width: 300px;
  height: 200px;
  object-fit: contain;
}

#about-1 {
  grid-column: 1;
}

#about-2 {
  grid-column: 3;
}

#about-3 {
  grid-column: 1 / 4;
  justify-self: center;
  width: fit-content;
}

.down-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-decoration: none;
}

.down-arrow div {
    font-size: 16px;
    background: linear-gradient(45deg, #0180ff, #4f9df6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 0 0 6px 0;
}

.down-arrow img {
    width: 50px;
}

.arrow {
    animation: 2.5s upDown infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 812px) {
  #navbar.active {
    border-radius: 0;
  }

  .navbar:hover {
    box-shadow: 4px 5px 16px rgba(0, 0, 0, 0.5);
  }

  .hamburger {
    display: flex;
  }

  .nav-link {
    flex-direction: column;
    top: 100%;
    left: 0;
    right: 0;
    gap: 6px;
    background: linear-gradient(16deg, #0180ff, #4f9df6);
    border-radius: 0 0 50px 20px;
    opacity: 0.5;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav-link.open {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 20px;
    max-height: 500px;
    opacity: 0.9;
  }

  .nav-link li {
    text-align: center;
    padding: 1rem 0;
  }

  .nav-link a {
    display: block;
  }
}
